fastapi
uvicorn[standard]
prefect>=3,<4
chromadb==0.5.23
FlagEmbedding
python-dotenv
feedparser
langchain
langgraph
langchain-community
pydantic-settings
httpx
beautifulsoup4
aiosqlite
openai
requests
trafilatura
readability-lxml